html,
body {
    height: 100%;
}
html {
    position: relative;
}
body {
    font-family: 'Ubuntu Condensed', sans-serif;
    background: url(img/bg.jpg) 0 0 repeat;
    font-size: 16px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -120px;
    padding-top: 78px; 
}
#push,
#footer {
    height: 120px;
}
#footer {
    width: 100%;
    color: #fff;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
#footer a{
    color: #fff;
    text-decoration: none;
}


.navbar-inverse { background-color: #111111; font-family: 'Roboto';}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #111111}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #111111}
.dropdown-menu { background-color: #111111}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #000000}
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { 
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #07b5b6; }
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}
.bankvideo-navbar >.container{ padding-left: 25px; padding-right: 0px;}
.bankvideo-navbar .navbar-nav{
    float: right;
}
.logo{
    margin-top: -13px;
}

.navbar-brand,
.navbar-nav li .bankVideo-navbarItem{
    line-height: 78px;
    height: 78px;
    padding-top: 0;
    color: #fff;
}
.navbar-brand{
    padding: 0;
}
.nav > li > a {
    padding: 3px 0 0 5px;
}

.basketWrapper{
    margin: 0 165px 0 100px;
}

.container .text-muted {
    margin: 20px 0;
}
.containerSmall{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.wrapper {
    background: #fff;
    padding-left: 0;
    padding-right: 0;
}

#footer  > .containerSmall {
    width: 100%;
    height: 120px;
    padding-left: 0;
    padding-right: 0;
    background: #333;
    border-top: 6px solid #07bcb5;
    font-family: Arial,Helvetica,Garuda,sans-serif;
    color: #fff;
}
#footer .footerDark{
    border-bottom: 1px solid #07bcb5;
    width: 100%;
    height: 85px;
    padding-top: 7px;
    display: block;
}
.footerBottom{
    line-height: 28px;
}
.socialLinksWrapper{
    margin-top: 13px;
}


.logo{
    display: inline-block;
    width: 100%;
    min-width: 110px;
}
.bankVideo-navbarItem{
    color: #fff;
    font-size: 14px;
}
.bankVideo-navbarItem a, 
.bankVideo-basketWrapper a{
    color: #fff !important;
    text-decoration: none;

}
.containerSmall{
    max-width: 910px;
}
.dropdown{
    text-align: center;
}
.chooseLang{
    width:44px;
    white-space: normal;
    display: inline-block;
    font-size: 14px;
    margin: 5px 10px 0 0;
    color: #fff;
}


.bankVideo-langDropdown{
    color: #07bcb5 !important;
    font-size: 16px;
    text-decoration: none;
}
.bankVideo-langDropdown:hover{
    text-decoration: none;
    color: #fff;
}
.bankVideo-signUp{
    font-size: 18px;
}
.bankVideo-basket{
    /*background: url(img/basket.png) top right no-repeat;*/
    /*padding: 0 25px 0 0 ;*/
    margin: 0 5px 0 0;
}
.bankVideo-basket img{
    margin: 0 0 -2px 5px;
}

.noPaddingRight{
    padding-right: 0 !important;
}

.paymentLinksWrapper{
    background: url(img/bg.jpg) 0 0 repeat;
    width: 100%;
    height: auto;
    padding: 5px 5px 0 5px;
}
.paymentLinks{
    background: url(img/footerIcon.png) 0 0 no-repeat;
    display: inline-block;
    height: 39px;
    margin: auto 0;
}
.visaLink{
    background-position: 0 0;
    width: 121px;
}
.qiwiLink{
    background-position: -124px 0px;
    width: 79px;
}
.yaLink{
    background-position: -207px 0px;
    width: 87px;
}
.beeLink{
    background-position: -299px 0px;
    width: 94px;
}
.megafonLink{
    background-position: -396px 0px;
    width: 123px;
}
.mtsLink{
    background-position: -523px 0px;
    width: 79px;
}
.assistLink{
    background: url(img/assist.png) 0 0 no-repeat;
    display: inline-block;
    height: 38px;
    width:35px; 
    margin-left: 12px;
}
.socialLinks{
    background: url(img/social.png) 0 0 no-repeat;
    display: inline-block;
    height: 19px;
}
.fbLink{
    background-position: 0 0 ;
    width: 74px;
}
.twLink{
    background-position: -75px 0;
    width: 68px;
}
.vkLink{
    background-position: -145px;
    width: 34px;

}

.menuBlocks{
    min-height: 44px;
    background: #1a1a1a;
    padding: 0;
}
.menuBlocks div{
    padding: 0 !important;
    background: #1a1a1a;
}
.col-custom{
    height: 44px;
    line-height: 44px;
}
.col-custom a{
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 0 0 0 10px;
    display: inline-block;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.videoLink{
    background: #07bcb5;
    padding: 0 20px !important;
}
.photoLink{
    background: #fff;
    color: #07bcb5 !important;
    padding: 0 20px !important;
}
.dottedBorder{
    border-right: 1px dotted #fff;
    padding: 0 10px 0 0;
}

.searchForm{
    height: 44px;
    line-height: 44px;
}
.searchBtn, .searchBtn:active,
.searchBtn:focus{
    background: url(img/search.png) #111111 center center no-repeat;
    border: none;
    width: 21px;
    height: 21px;
    margin: 13px 0 0 0;
    outline: none;
}
.searchInput{
    margin: 11px 10px 0;
    width: 85%;
    height: 24px;
    border-radius: 0;
    background: #fff;
    border: none;
    font-style: italic;
    font-size: 14px;
}


/*.videoWrapper{
    position: relative;
    padding: 6px 0 0 0;
}*/
video{
    width: 100%    !important;
    height: auto   !important;
    z-index: 1000!important;
    /*outline: 1px solid red;*/
}
.videoWrapper {
    position: relative;
    /*padding-bottom: 56.25%;  16:9 */
    /*padding-top: 25px;*/
    /*height: 0;*/
    z-index: 1000!important;
    /*outline: 1px solid blue;*/
    /*height: auto!important;*/
    /*top:0;*/
}
/*.videoWrapper iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000!important;
}*/
/*.videoWrapper video{
    position: absolute;
    top: 0;
}*/



.greyVideoBlock, 
.contentOfDayOverlay{
    background: #333;
    width: auto;
    max-width: 250px;
    padding: 5px;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    font-family: 'Ubuntu Condensed', sans-serif;
    z-index: 99999 !important;
}


.cyanHref, .cyanHref:hover,
.cyanHref:active,
.cyanHref:visited{
    color: #07b5b6;
    text-decoration: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    text-decoration: none;
}
.greyVideoBlock .cyanHref,
.contentOfDayOverlay .cyanHref{
    font-size: 18px;
    margin: 0 0 0 5px;
}
.showAll,.showAll:hover{
    text-decoration: none;
    font-size: 13px;
    color: #fafafa;
}
.col-video{
    padding: 4px 0 0 0 ;
}
.sliderWrapper{
    text-align: center;
    padding: 4px 8px 0 8px;
}
.sliderListWrapper{
    /*padding: 0 10px 0 7px;*/
}
.sliderListWrapper ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.sliderListWrapper ul li {
    display: block;
    position: relative;
    margin: 0 auto 4px auto;
    /*height: 120px;*/
}
/*.sliderListWrapper ul li a {
    display: inline-block;
    width: 100%;
}*/
.sliderListWrapper ul li .sliderOverlay{
    background: #666;
    color: #fff;
    font-size: 14px;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    padding: 3px 7px 5px;
}
.sliderListWrapper ul li .sliderOverlay div{
    text-align: left;
    height: 15px;
    padding-left: 0;
    padding-right: 0;
}
.sliderListWrapper ul li .sliderOverlay span,
.sliderListWrapper ul li .sliderOverlay a{
    /*margin: 0 5px 5px 5px;*/
    float: left;
    display: inline-block;
}
.sliderListWrapper ul li .sliderOverlay a{
    margin: 0 0 0 5px;
}
.sliderWrapper ul li img{
    width: 100%;
    height: auto;
    display: block;
    /*height: 120px;*/
    /*width: auto;*/
}
.sliderWrapper ul li .sliderOverlay .cyanHref{
    font-size: 14px;
}

.bankVideoArrow{
    background: url(img/arrows.png) 0 0 no-repeat;
    width: 14px;
    height: 8px;
    display: block;
    margin: 0 auto 3px auto;
}
.topArrow{
    background-position: 0 0;
}
.bottomArrow{
    background-position: 0 -8px;
}


.col-about-project{
    width: 28%;
    padding: 0 10px 0 10px;
    font-size: 13px;
    color: #333333;
    font-family:Arial, Helvetica, sans-serif;

}
.col-about-project p{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: normal;
    height: 287px;
    width: 100%;
    display: inline-block;
    text-align: justify;
    margin-bottom: 0;
}
.col-about-project h3, .newsBlock h3, .col-contentOfDay h3{
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #333;
}
.newsBlock h3{
    margin-top: 0;
}

.col-contentOfDay{
    width: 36%;
    padding-right: 10px;
    padding-left: 0px;
}
.col-contentOfDay h3 a{
    color: #b4b4b4;
    font-size: 16px;
    text-decoration: none;
}
.col-contentOfDay h3 a:hover,
.col-contentOfDay h3 .activeFilter{
    text-decoration: underline;
    color: #18c0ba;
}
.contentOfDayBig{
    padding: 3px 3px 4px 3px;
    position: relative;
    margin-bottom: 3px;
}
.contentOfDaySmall{
    width: 33.333%;
    padding: 0 3px;
    display: block;
}
/*.padding-contentOfDay{
    margin: 0 3px;
}*/

.contentOfDayBig .contentOfDayOverlay{
        left: 4px;
        bottom: 3px;
    width: 65%;
    min-width: 100px;
}


.bottomBorder{
    border-bottom: 1px dotted #999;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.newsWrapper{
    padding-bottom: 10px;
}

.newsBlock{
    padding: 0 10px;
    width: 28%;
    float: left;

}
.newsPhoto{
    width: 75px;
    height: 75px;
    float: left;
}
.newsItem{
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    padding-top: 5px;
}
.newsItemBordered{
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.overflowNewsText{
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    white-space: normal;
    height: 38px;
    /*width: 100%;*/
    display: inline-block;
    text-align: justify;
    margin-bottom: 0;
    padding: 0;
    color: #333333;

}
.newsTextWrapper{
    padding-left: 6px;
    padding-right: 0;
    /*width:*/ 
}
.allNews{
    font-size: 14px;
    font-family: 'Roboto';
    /*font-family: 'Ubuntu Condensed', sans-serif;*/
    color: #333;
}
.vkBlock, .fbBlock, .twBlock{
    float: left;
    padding: 0 5px;
}
.vkBlock h3, .fbBlock h3, .twBlock h3,
.newVideo h3{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #333;
    font-size: 20px;
    margin-top: 0;
}
.newVideo{
    padding-left: 7px;
    padding-right: 7px;
}
.newVideo .itemDescription{
    font-family: 'Roboto';
    font-size: 14px;
}
.col-newVideoRow{
    padding-left: 10px;
    padding-right: 10px;
}
.arrowsWrapper{
    width: 50px;
    height: 25px;
}
.horizontalArrows{
    width: 25px;
    height: 25px;
    display: inline-block;
    float: left;
}
.leftArrow{
    background: url(img/left.png) 0 0 no-repeat;

}
.rightArrow{
    background: url(img/right.png) 0 0 no-repeat;
}
.col-newVideo,.col-newVideoRow{
    padding-left: 3px;
    padding-right: 3px;
}
.col-newVideo .cyanHref{
    font-family: 'Roboto';
    font-size: 14px;
}
.newPhotoHref{
    width: 100%;
    /*max-width: 100*/
}


/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 250px) {
    #footer, #push{
        height: 351px!important;
    }
    #wrap {
        margin-bottom: -351px !important;
    }
    #footer .footerDark{
        height: 221px !important;
    }
    #footer  > .containerSmall{
        height: 351px !important;
    }
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

    .bankVideo-signUp{
        font-size: 14px;
        width: 100%;
    }
    .newsTextWrapper{
        width: 65%;
    }
    #footer, #push{
        height: 310px!important;
    }
    #wrap {
        margin-bottom: -310px!important;
    }
    #footer .footerDark{
        height: 193px!important;
    }
    #footer  > .containerSmall{
        height: 310px!important;
    }

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    .navbar-brand{
        width: 170px;
    }
    .bankVideo-signUp{
        font-size: 14px;
        width: 100%;
    }
    .searchInput{
        width: 77%;
    }
    .newsTextWrapper{
        width: 65%;
    }
    #footer, #push{
        height: 320px!important;
    }
    #wrap {
        margin-bottom: -320px !important;
    }
    #footer .footerDark{
        height: 228px !important;
    }
    #footer  > .containerSmall{
        height: 320px !important;
    }
    /*    .footerBottom div{
            padding-left: 5px;
            padding-right: 5px;
        }*/
}

@media (max-width: 767px)  {

    .dottedBorder{
        border: none;
    }
    .bankvideo-navbar .navbar-nav{
        float: none;
    }

    .navbar-nav li .bankVideo-navbarItem {
        line-height: 30px;
        height: auto;
        padding: 0 0 10px 15px;
        font-size: 16px;
    }
    .navbar-header{
        height: 78px;
    }
    .chooseLang {
        width: auto;
        padding: 0 0 10px 15px;
        font-size: 16px;
    }
    .dropdown-menu{
        font-size: 16px;
    }
    .dropdown{
        text-align: left;
    }
    .bankVideo-signUp{
        font-size: 14px;
        width: 100%;
    }
    .basketWrapper {
        margin: 0 ;
    }
    .signupWrapper{
        margin-right: 0px;
    }


    /*    .greyVideoBlock{
            left: 10px;
        }*/
    .newsBlock,.vkBlock, .fbBlock, .twBlock{
        width: 100%;
        float: none;
    }
    .vkBlock *, .fbBlock *, .twBlock *{
        margin: 20px auto;
        display: block;
    }

    #footer, #push{
        height: 275px;
    }
    #wrap {
        margin-bottom: -275px;
    }
    #footer .footerDark{
        height: 185px;
    }
    #footer  > .containerSmall{
        height: 275px;
    }

    .col-about-project{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-contentOfDay{
        width: 100%;
        float: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .assistLink{
        padding-left: 12px;
    }
    .footerDark .noPaddingRight{
        padding-right: 15px !important;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    .bankVideo-signUp{
        font-size: 14px;
    }
    /*    .chooseLang{
        width: auto;
        margin: 10px 0;
        }*/

    .dottedBorder{
        border: none;
    }

    .navbar-header{
        width: 160px;
    }
    .basketWrapper {
        margin: 0 ;
    }
    .signupWrapper{
        margin-right: 0px;
    }
    .newsBlock{
        width: 100%;
        float: none;
    }
    .vkBlock, .fbBlock, .twBlock{
        width: 30%;
    }
    #footer, #push{
        height: 275px;
    }
    #wrap {
        margin-bottom: -275px;
    }
    #footer .footerDark{
        height: 185px;
    }
    #footer  > .containerSmall{
        height: 275px;
    }

    .col-about-project{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .col-contentOfDay{
        width: 100%;
        float: none;
        padding-left: 10px;
        padding-right: 10px;
    }
    .footerDark .noPaddingRight{
        padding-right: 15px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) 
and (orientation:portrait)
{
    #footer, #push{
        height: 200px!important;
    }
    #wrap {
        margin-bottom: -200px !important;
    }
    #footer .footerDark{
        height: 146px !important;
    }
    #footer  > .containerSmall{
        height: 250px !important;
    }
    .footerBottom div{
        text-align: left;
    }
}


@media (min-width: 992px) {

    .containerSmall{
        width: 915px;
    }
    .navbar-header{
        width: 220px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .bankVideo-basketWrapper{
        padding-left: 8px !important;
    }
    .basketWrapper {
        margin: 0 37px 0 38px;
    }
    .signupWrapper{
        margin-right: 20px;
    }
    .dottedBorder{
        border: none;
    }
    .assistLink{
        margin-left: 0px;
    }
    .signupWrapper{
        margin-right: 25px;
    }
}
@media (min-width: 1200px) {

    .containerSmall{
        width: 915px;
    }
    .col-custom{
        width: auto ;
    }
    .searchForm{
        padding: 0 5px 0 0;

    }
    .searchInput{
        width: 150px !important;
    }
    .signupWrapper{
        margin-right: 25px;
    }
}
@media (min-width: 1920px) {
    /*    .searchForm{
            margin: 0 10px;
        }*/
    .searchInput{
        width: 155px !important;
    }
    .signupWrapper{
        margin-right: 25px;
    }
}
@media (min-width: 2500px) {
    .searchForm{
        padding: 0 5px 0 0;

    }
    .searchInput{
        width: 150px !important;
    }
    .signupWrapper{
        margin-right: 25px;
    }
}
