/* 
    Document   : style
    Created on : 29.03.2014, 18:20:40
    Author     : linn
    Description:
        Purpose of the stylesheet follows.
*/
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    height: 100%;
}
body {
    /* Margin bottom by footer height */
    /*margin-bottom: 120px;*/
    font-family: 'Ubuntu Condensed', sans-serif;
    background: url(img/bg.jpg) 0 0 repeat;
    font-size: 16px;
    min-height: 100%;
    height: 100%;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height:120px;
    /*background-color: #f5f5f5;*/
    margin-top: -100%;
    color: #fff
}
#footer a{
    color: #fff;
    text-decoration: none;
}


.navbar-inverse { background-color: #111111}
.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { background-color: #111111}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { background-color: #111111}
.dropdown-menu { background-color: #111111}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { background-color: #000000}
.navbar-inverse { border-color: #080808}
.navbar-inverse .navbar-brand { color: #FFFFFF}
.navbar-inverse .navbar-brand:hover { color: #FFFFFF}
.navbar-inverse .navbar-nav>li>a { 
    color: #FFFFFF;
    padding-top: 0;
    padding-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus { color: #FFFFFF}
.dropdown-menu>li>a { color: #07b5b6}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus { color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-top-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-top-color: #FFFFFF}
.navbar-inverse .navbar-nav>.dropdown>a .caret { border-bottom-color: #999999}
.navbar-inverse .navbar-nav>.dropdown>a:hover .caret { border-bottom-color: #FFFFFF}


.navbar-brand,
.navbar-nav li .bankVideo-navbarItem{
    line-height: 78px;
    height: 78px;
    padding-top: 0;
    color: #fff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.wrapper {
    padding: 78px 0 120px 0 !important;
    background: #fff;
    height: 100%;

}
.container .text-muted {
    margin: 20px 0;
}

#footer  > .containerSmall {
    /*background-color: #07bcb5;*/
    width: 100%;
    height: 120px;
    padding-left: 0;
    padding-right: 0;
    background: #333;
    border-top: 6px solid #07bcb5;
    font-family: Arial,Helvetica,Garuda,sans-serif;
    color: #fff;
}
#footer .footerDark{
    border-bottom: 1px solid #07bcb5;
}

/*code {
    font-size: 80%;
}*/


.containerSmall{
    /*outline: 1px solid yellow;*/
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
/*.container{
    outline: 1px solid red;
}*/


/*.bankVideo-navbar, .bankVideo-navbar .navbar-header,
.bankVideo-navbar .navbar-collapse{
    color: #fff;
    font-family: 'Roboto', sans-serif;

}*/
.bankVideo-navbar .navbar-brand{
}
.logo{
    display: inline-block;
    width: 100%;
    min-width: 110px;
}
.bankVideo-navbarItem{
    color: #fff;
    font-size: 14px;
}
.bankVideo-navbarItem a, 
.bankVideo-basketWrapper a{
    color: #fff !important;
    text-decoration: none;

}
.containerSmall{
    max-width: 910px;
}
.dropdown{
    text-align: center;
}
.chooseLang{
    width:44px;
    white-space: normal;
    display: inline-block;
    font-size: 14px;
    margin: 0 10px 0 0;
    color: #fff;
    /*line-height: 40px;*/
}


.bankVideo-langDropdown{
    color: #07bcb5 !important;
    font-size: 16px;
    text-decoration: none;
}
.bankVideo-langDropdown:hover{
    text-decoration: none;
    color: #fff;
}
.bankVideo-signUp{
    font-size: 18px;
}
.bankVideo-basket{
    background: url(img/basket.png) top right no-repeat;
    padding: 0 25px 0 0 ;
    margin: 0 5px 0 0;
}

.noPaddingRight{
    padding-right: 0 !important;
}

.paymentLinksWrapper{
    background: url(img/bg.jpg) 0 0 repeat;
    width: 100%;
    height: auto;
    /*padding: 3px 30px 0px 5px*/
}
.paymentLinks{
    background: url(img/footerIcon.png) 0 0 no-repeat;
    display: inline-block;
    height: 39px;
    margin: auto 0;
}
.visaLink{
    background-position: 0 0;
    width: 121px;
}
.qiwiLink{
    background-position: -124px 0px;
    width: 79px;
}
.yaLink{
    background-position: -207px 0px;
    width: 87px;
}
.beeLink{
    background-position: -299px 0px;
    width: 94px;
}
.megafonLink{
    background-position: -396px 0px;
    width: 123px;
}
.mtsLink{
    background-position: -523px 0px;
    width: 79px;
}
.assistLink{
    background: url(img/assist.png) 0 0 no-repeat;
    display: inline-block;
    height: 38px;
    width:35px; 
    /*margin: auto 0;*/
}
.socialLinks{
    background: url(img/social.png) 0 0 no-repeat;
    display: inline-block;
    height: 19px;
}
.fbLink{
    background-position: 0 0 ;
    width: 74px;
}
.twLink{
    background-position: -75px 0;
    width: 68px;
}
.vkLink{
    background-position: -145px;
    width: 34px;

}
/*.menu{
    list-style: none;
    min-height: 44px;
    margin-left: -15px;
    margin-right: -15px;
    background: #1a1a1a;
    padding: 0;
}
.menu li{
    float: left;
    display: inline-block;
    height: 44px;
    line-height: 44px;
    width: auto;
}*/
/*.menu li a{
    color: #fff;
    text-decoration: none;
    height: 44px;
    
    width: 100%;
    padding: 0 0 0 7px;
    display: inline-block;
    font-family: 'Ubuntu Condensed', sans-serif;
}*/

.menuBlocks{
    /*list-style: none;*/
    min-height: 44px;
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
    background: #1a1a1a;
    padding: 0;
}
.menuBlocks div{
    padding: 0 !important;
    /*outline: 1px solid red;*/
    background: #1a1a1a;
}
.col-custom{
    height: 44px;
    line-height: 44px;
}
.col-custom a{
    color: #fff;
    text-decoration: none;
    /*height: 44px;*/
    /**/
    width: 100%;
    padding: 0 0 0 10px;
    display: inline-block;
    font-family: 'Ubuntu Condensed', sans-serif;
}
.videoLink{
    background: #07bcb5;
    padding: 0 20px !important;
}
.photoLink{
    background: #fff;
    color: #07bcb5 !important;
    padding: 0 20px !important;
}
.dottedBorder{
    border-right: 1px dotted #fff;
    padding: 0 10px 0 0;
}

.searchForm{
    height: 44px;
    line-height: 44px;
    /*margin: 0 10px;*/
}
.searchBtn{
    background: url(img/search.png) #111111 center center no-repeat;
    border: none;
    width: 21px;
    height: 21px;
    margin: 13px 0 0 0;
}
.searchInput{
    margin: 11px 10px 0;
    /*width: 155px !important;*/
    width: 85%;
    height: 24px;
    border-radius: 0;
    background: #fff;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) {

    .bankVideo-signUp{
        font-size: 14px;
        width: 100%;
    }

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

    .navbar-brand{
        width: 208px;
    }
}

@media (max-width: 767px)  {

     .dottedBorder{
        border: none;
    }
    .navbar-nav li .bankVideo-navbarItem {
        line-height: 30px;
        height: auto;
        padding: 0 0 10px 15px;
        font-size: 16px;
    }
    .navbar-header{
        height: 78px;
    }
    .chooseLang {
        width: auto;
        padding: 0 0 10px 15px;
        font-size: 16px;
    }
    .dropdown-menu{
        font-size: 16px;
    }
    .dropdown{
        text-align: left;
    }
}


@media (min-width: 768px) {


}
@media (min-width: 768px) and (max-width: 1024px) {
    .bankVideo-signUp{
        font-size: 14px;
    }
    .chooseLang{
        width: auto;
        margin: 10px 0;
    }

    .dottedBorder{
        border: none;
    }

}
@media (min-width: 992px) {

    .containerSmall{
        width: 915px;
    }
    .navbar-header{
        width: 220px;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .bankVideo-basketWrapper{
        padding-left: 8px !important;
    }

}
@media (min-width: 1200px) {

    .containerSmall{
        width: 915px;
    }
    .col-custom{
        width: auto ;
    }
    .searchForm{
        margin: 0 10px;
    }
    .searchInput{
        width: 155px !important;
    }
}
@media (min-width: 1920px) {
    .searchForm{
        margin: 0 10px;
    }
    .searchInput{
        width: 155px !important;
    }
}
@media (min-width: 2500px) {
     .searchForm{
        margin: 0 10px;
    }
    .searchInput{
        width: 155px !important;
    }
}
